@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model WebApplication3.ViewModels.EditScheduleViewModel
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var userName = User.Identity.Name;
}

<p>Original ScheduledTime: @Model.Schedule.ScheduledTime</p>

@using (Html.BeginForm("Save", "Admin"))
{
    <h1>Edit Schedule</h1>
    <div>
        <label for="ScheduledTime">PickupTime:</label>
        <input type="datetime-local" id="Schedule.ScheduledTime" name="Schedule.ScheduledTime" value="@Model.Schedule.ScheduledTime">
    </div>
    <div>
        <label for="Observations">Observations:</label>
        <input type="text" id="Schedule.Observations" name="Schedule.Observations" size="100" value="@Model.Schedule.Observations">
    </div>
     <div class="form-group">

        <label for="Schedule.TypesOfServices.ServiceType">Premium</label>
        <input type="radio" name="Schedule.TypesOfServices.ServiceType" value="Premiun" />
        <p>
            <label for="Schedule.TypesOfServices.ServiceType">Home Made</label>
            <input type="radio" name="Schedule.TypesOfServices.ServiceType" value="Home Made" />
        </p>
        <p>
            <label for="Schedule.TypesOfServices.ServiceType">Low Cost</label>
            <input type="radio" name="Schedule.TypesOfServices.ServiceType" value="Low Cost" />
        </p>
       
    </div>

    if (!Model.UserAddresses.Any())
    {
        <p>No addresses yet, please add an address.</p>
    }

    else
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Schedule.UserAddressId)
            @Html.DropDownListFor(m => m.Schedule.UserAddressId, new SelectList(Model.UserAddresses, "Id", "Address"), "Select Address", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Schedule.UserAddressId)
        </div>
    }

    @Html.HiddenFor(m => m.Schedule.Id)
    @Html.HiddenFor(m => m.Schedule.ApplicationUserId)
    @Html.HiddenFor(m => m.Schedule.UserAddress.ApplicationUserId)

    <div>
        <p><button type="submit" class="btn btn-primary">Save</button></p>
    </div>
}