@model WebApplication3.ViewModels.ScheduleListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Index</h1>


@{
    if (!Model.UserSchedulesList.Any())
    {
        <p></p>
        <p>No schedules available.</p>
        <p></p>
    }
    else
    {
        @if (!Model.Addresses.Any())
        {
            <p>Please add an address.</p>
        }
        else
        {
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Schedule</th>
                        <th>User</th>
                        <th>Address</th>
                        <th>State</th>
                        <th>Accept Schedule</th>
                        <th>Delete Schedule</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var schedule in Model.UserSchedulesList)
                {
                    <tr>
                        <td>@Html.ActionLink(schedule.ScheduledTime.ToLongDateString(), "Edit", "Admin", new { id = schedule.Id }, null)</td>

                        <td>@schedule.Name</td>

                        @{
                            if (Model.Addresses.SingleOrDefault(c => c.Id == schedule.UserAddressId) == null)
                            {
                                <td>"No address available"</td>
                            }
                            else
                            {
                                <td>@Model.Addresses.SingleOrDefault(c => c.Id == schedule.UserAddressId).Address</td>
                            }
                        }

                        <td>@schedule.State</td>

                        @{
                            if (schedule.State == "Accepted")
                            {
                                <td>@Html.ActionLink("Conclude", "AcceptSchedule", "Admin", new { id = schedule.Id, state = "Concluded" }, new { @class = "btn btn-primary" })</td>
                            }
                            else if  (schedule.State == "Concluded")
                            {
                                <td>@Html.ActionLink("Reopen", "AcceptSchedule", "Admin", new { id = schedule.Id, state = "Reopened" }, new { @class = "btn btn-primary" })</td>

                            }
                            else
                            {

                                <td>@Html.ActionLink("Accept", "AcceptSchedule", "Admin", new { id = schedule.Id, state = "Accepted" }, new { @class = "btn btn-primary" })</td>
                            }
                        }
                        <td>@Html.ActionLink("Delete", "DeleteSchedule", "Admin", new { id = schedule.Id }, new { @class = "btn btn-primary" })</td>



                    </tr>

                }
                </tbody>
            </table>
        }
    }

}


